{% extends "index.html" %}
{% block content %}

<div class="m-0 overflow-scroll max-size p-3 mb-5">
  <div class="container">
    <div class="row mt-5">
    <div class="col">
      <div class="row justify-content-center">
        <h2 class="text-center has-text">ConneXtions Official Merchandise and Apparel</h2>
      </div>
      <div class="row justify-content-center">
        <img class="text-center w-25" src="../static/img/josh.jpg" alt="">
      </div>
      <div class="row">
        <div class="col">
          <p class="text-center has-text">Go out with a band with the official Elderscrolls: ConneXtions: Reborn 2 (Battleship) Merch! All proceeds go to the pearl harbour relief fund. Merch not union made.</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col merch-item">
          <div class="row justify-content-center p-2">
            <img class="text-center img-fluid rounded max-height" src="../static/img/drone-shirt-1.png" alt="">
          </div>
          <div class="row justify-content-center">
            <p class="m-2 text-center has-text">Watch out there's a drone strike coming! OH NO THEY HAVE AIRPODS IN THEY CAN'T HEAR US - Tragedy shirt</p>
          </div>
          <div class="row justify-content-center">
            <p class="text-center has-text">$75</p>
          </div>
        </div>
        <div class="col merch-item">
          <div class="row justify-content-center p-2">
            <img class="text-center img-fluid rounded max-height reddy-filter" src="../static/img/reddy-shirt.png" alt="">
          </div>
          <div class="row justify-content-center">
            <p class="m-2 text-center has-text">Weddy f-fow some battweship uWu - Kawaii Paradise shirt (NSFW)</p>
          </div>
          <div class="row justify-content-center">
            <p class="text-center has-text">$75</p>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col merch-item">
          <div class="row justify-content-center p-2">
            <img class="text-center img-fluid rounded max-height" src="../static/img/hat.png" alt="">
          </div>
          <div class="row justify-content-center">
            <p class="m-2 text-center has-text">Just like the real thing! WOW! You sunk my! - Cool and Collected™ Chum Bucket Bucket Helmet</p>
          </div>
          <div class="row justify-content-center">
            <p class="text-center has-text">$65</p>
          </div>
        </div>
        <div class="col merch-item">
          <div class="row justify-content-center p-2">
            <img class="text-center img-fluid rounded max-height" src="../static/img/battleship2.png" alt="">
          </div>
          <div class="row justify-content-center">
            <p class="m-2 text-center has-text">Battleship 2.0 WOW! its a HIT! relive the war today! - Muscle Stretchable Tank Top (Drone Show)</p>
          </div>
          <div class="row justify-content-center">
            <p class="text-center has-text">$70</p>
          </div>
        </div>
      </div>
      <div class="row mt-5"></div>
      <div class="row mt-5"></div>
    </div>
  </div>
  </div>
</div>

{% endblock %}
