<div class="container mt-5">

  <div class="row">
    <div class="col d-flex justify-content-center">
      <table id='table'>
        <tbody>
          <tr>
            <td></td>
            <td colspan="10">
              <p id="command"></p>
            </td>
          </tr>
          <tr>
            <td class="table-col-def"></td>
            <td class="table-col-def">1</td>
            <td class="table-col-def">2</td>
            <td class="table-col-def">3</td>
            <td class="table-col-def">4</td>
            <td class="table-col-def">5</td>
            <td class="table-col-def">6</td>
            <td class="table-col-def">7</td>
            <td class="table-col-def">8</td>
            <td class="table-col-def">9</td>
            <td class="table-col-def">10</td>
          </tr>
          <tr>
            <td class="table-row-def">A</td>
            <td class="table-cell" data-y="1" data-x="1"></td>
            <td class="table-cell" data-y="1" data-x="2"></td>
            <td class="table-cell" data-y="1" data-x="3"></td>
            <td class="table-cell" data-y="1" data-x="4"></td>
            <td class="table-cell" data-y="1" data-x="5"></td>
            <td class="table-cell" data-y="1" data-x="6"></td>
            <td class="table-cell" data-y="1" data-x="7"></td>
            <td class="table-cell" data-y="1" data-x="8"></td>
            <td class="table-cell" data-y="1" data-x="9"></td>
            <td class="table-cell" data-y="1" data-x="10"></td>
          </tr>
          <tr>
            <td class="table-row-def">B</td>
            <td class="table-cell" data-y="2" data-x="1"></td>
            <td class="table-cell" data-y="2" data-x="2"></td>
            <td class="table-cell" data-y="2" data-x="3"></td>
            <td class="table-cell" data-y="2" data-x="4"></td>
            <td class="table-cell" data-y="2" data-x="5"></td>
            <td class="table-cell" data-y="2" data-x="6"></td>
            <td class="table-cell" data-y="2" data-x="7"></td>
            <td class="table-cell" data-y="2" data-x="8"></td>
            <td class="table-cell" data-y="2" data-x="9"></td>
            <td class="table-cell" data-y="2" data-x="10"></td>
          </tr>
          <tr>
            <td class="table-row-def">C</td>
            <td class="table-cell" data-y="3" data-x="1"></td>
            <td class="table-cell" data-y="3" data-x="2"></td>
            <td class="table-cell" data-y="3" data-x="3"></td>
            <td class="table-cell" data-y="3" data-x="4"></td>
            <td class="table-cell" data-y="3" data-x="5"></td>
            <td class="table-cell" data-y="3" data-x="6"></td>
            <td class="table-cell" data-y="3" data-x="7"></td>
            <td class="table-cell" data-y="3" data-x="8"></td>
            <td class="table-cell" data-y="3" data-x="9"></td>
            <td class="table-cell" data-y="3" data-x="10"></td>
          </tr>
          <tr>
            <td class="table-row-def">D</td>
            <td class="table-cell" data-y="4" data-x="1"></td>
            <td class="table-cell" data-y="4" data-x="2"></td>
            <td class="table-cell" data-y="4" data-x="3"></td>
            <td class="table-cell" data-y="4" data-x="4"></td>
            <td class="table-cell" data-y="4" data-x="5"></td>
            <td class="table-cell" data-y="4" data-x="6"></td>
            <td class="table-cell" data-y="4" data-x="7"></td>
            <td class="table-cell" data-y="4" data-x="8"></td>
            <td class="table-cell" data-y="4" data-x="9"></td>
            <td class="table-cell" data-y="4" data-x="10"></td>
          </tr>
          <tr>
            <td class="table-row-def">E</td>
            <td class="table-cell" data-y="5" data-x="1"></td>
            <td class="table-cell" data-y="5" data-x="2"></td>
            <td class="table-cell" data-y="5" data-x="3"></td>
            <td class="table-cell" data-y="5" data-x="4"></td>
            <td class="table-cell" data-y="5" data-x="5"></td>
            <td class="table-cell" data-y="5" data-x="6"></td>
            <td class="table-cell" data-y="5" data-x="7"></td>
            <td class="table-cell" data-y="5" data-x="8"></td>
            <td class="table-cell" data-y="5" data-x="9"></td>
            <td class="table-cell" data-y="5" data-x="10"></td>
          </tr>
          <tr>
            <td class="table-row-def">F</td>
            <td class="table-cell" data-y="6" data-x="1"></td>
            <td class="table-cell" data-y="6" data-x="2"></td>
            <td class="table-cell" data-y="6" data-x="3"></td>
            <td class="table-cell" data-y="6" data-x="4"></td>
            <td class="table-cell" data-y="6" data-x="5"></td>
            <td class="table-cell" data-y="6" data-x="6"></td>
            <td class="table-cell" data-y="6" data-x="7"></td>
            <td class="table-cell" data-y="6" data-x="8"></td>
            <td class="table-cell" data-y="6" data-x="9"></td>
            <td class="table-cell" data-y="6" data-x="10"></td>
          </tr>
          <tr>
            <td class="table-row-def">G</td>
            <td class="table-cell" data-y="7" data-x="1"></td>
            <td class="table-cell" data-y="7" data-x="2"></td>
            <td class="table-cell" data-y="7" data-x="3"></td>
            <td class="table-cell" data-y="7" data-x="4"></td>
            <td class="table-cell" data-y="7" data-x="5"></td>
            <td class="table-cell" data-y="7" data-x="6"></td>
            <td class="table-cell" data-y="7" data-x="7"></td>
            <td class="table-cell" data-y="7" data-x="8"></td>
            <td class="table-cell" data-y="7" data-x="9"></td>
            <td class="table-cell" data-y="7" data-x="10"></td>
          </tr>
          <tr>
            <td class="table-row-def">H</td>
            <td class="table-cell" data-y="8" data-x="1"></td>
            <td class="table-cell" data-y="8" data-x="2"></td>
            <td class="table-cell" data-y="8" data-x="3"></td>
            <td class="table-cell" data-y="8" data-x="4"></td>
            <td class="table-cell" data-y="8" data-x="5"></td>
            <td class="table-cell" data-y="8" data-x="6"></td>
            <td class="table-cell" data-y="8" data-x="7"></td>
            <td class="table-cell" data-y="8" data-x="8"></td>
            <td class="table-cell" data-y="8" data-x="9"></td>
            <td class="table-cell" data-y="8" data-x="10"></td>
          </tr>
          <tr>
            <td class="table-row-def">I</td>
            <td class="table-cell" data-y="9" data-x="1"></td>
            <td class="table-cell" data-y="9" data-x="2"></td>
            <td class="table-cell" data-y="9" data-x="3"></td>
            <td class="table-cell" data-y="9" data-x="4"></td>
            <td class="table-cell" data-y="9" data-x="5"></td>
            <td class="table-cell" data-y="9" data-x="6"></td>
            <td class="table-cell" data-y="9" data-x="7"></td>
            <td class="table-cell" data-y="9" data-x="8"></td>
            <td class="table-cell" data-y="9" data-x="9"></td>
            <td class="table-cell" data-y="9" data-x="10"></td>
          </tr>
          <tr>
            <td class="table-row-def">J</td>
            <td class="table-cell" data-y="10" data-x="1"></td>
            <td class="table-cell" data-y="10" data-x="2"></td>
            <td class="table-cell" data-y="10" data-x="3"></td>
            <td class="table-cell" data-y="10" data-x="4"></td>
            <td class="table-cell" data-y="10" data-x="5"></td>
            <td class="table-cell" data-y="10" data-x="6"></td>
            <td class="table-cell" data-y="10" data-x="7"></td>
            <td class="table-cell" data-y="10" data-x="8"></td>
            <td class="table-cell" data-y="10" data-x="9"></td>
            <td class="table-cell" data-y="10" data-x="10"></td>
          </tr>
          <tr>
            <td></td>
            <td class="pt-3" colspan="10">
              <div class="row">
                <div class="col">
                  <div id="rotate-button" class="btn btn-warning btn-block" onclick="toggleRotate()">
                    Rotate
                  </div>
                </div>
                <div class="col">

                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript" src="../static/js/gameboard.js"></script>
