{% extends "index.html" %}
{% block content %}

<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h3 id="header-text">Welcome to Battleship: ConneXtions</h3>
      <input type="hidden" id="game-code" value="">
    </div>
  </div>
  <div class="row py-3" id="name-area">
    <div class="col">
      <h5>Enter the gamer_tag you would like to search for:</h5>
      <input type="text" class="form-control" id="player-name" placeholder="testName">
    </div>
  </div>
  <div id="start-game-prompt">
    <div class="row">
      <div class="col mt-2">
        <div class="btn btn-success" id="search_gamer_tag">search</div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col"> -->
      <div id="old_stats" class="col hide" style="overflow:scroll; height:65vh; overflow-x:hidden;">
        {% include 'components/stats.html' %}
      </div>
    <!-- </div> -->
  </div>
</div>
<script type="text/javascript" src="/static/js/history.js"></script>
<script type="text/javascript" src="/static/js/stats.js"></script>

{% endblock %}
