{% extends "index.html" %}
{% block content %}

<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h3 id="header-text" class="has-text">Welcome to Battleship: ConneXtions</h3>
      <input type="hidden" id="game-code" value="">
    </div>
  </div>
  <div class="row py-3" id="name-area">
    <div class="col-3">
      <h5 class="has-text">Enter your gamer_tag:</h5>
      <input type="text" class="form-control" id="player-name" placeholder="testName">
    </div>
  </div>
  <div id="start-game-prompt">
    <div class="row">
      <div class="col mt-5">
        <div class="has-text">
          Starting a Game?
        </div>
        <hr>
        <div class="btn btn-success" id="start-web" class="has-text"><span class="has-text">Start game with Another Web Client</span></div>
        <div class="btn btn-success" id="start-board" class="has-text"><span class="has-text">Start game with Battleship: ConneXtions War Board</span></div>
      </div>
    </div>
    <div class="row">
      <div class="col mt-5" class="has-text">
        <div class="has-text">
          Joining a Game?
        </div>
        <hr>
        <div class="row">
          <div class="col-4">
            <input type="text" class="form-control" id="game-code-input" placeholder="Game Code">
          </div>
          <div class="col-2">
            <div class="btn btn-warning" id="join-game"><span class="has-text">Join Game</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="m-3 col">
      <p id="command" class="hide" class="has-text"></p>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col"> -->
      <div id="my-board" class="col hide">
        {% include 'components/gameboard.html' %}
      </div>
    <!-- </div> -->
    <!-- <div class=""> -->
      <div id="enemy-board" class="col hide">
        {% include 'components/gameboard.html' %}
      </div>
    <!-- </div> -->
  </div>
</div>
<script type="text/javascript" src="/static/js/home.js"></script>
<script type="text/javascript" src="/static/js/gameboard.js"></script>
{% endblock %}
