<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ConneXtions: Reborn</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <!-- page wrapper just sets 100vw and 100vh. -->
  <div class="page-wrapper" style='background-image: url("../../static/img/wall.jpg");'>
    {% include "components/header.html" %}

    <!-- every page will extend off of this block 'content' -->
    {% block content %}
    {% endblock %}

    {% include "components/footer.html" %}
  </div>
</html>
